
.profile-container{
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: auto auto auto;
    gap:8px;
    /* padding: 250px; */
    margin-bottom: 40px;

}
.aboutme{
    text-align: center;
    padding: 10px;
    grid-column: 1/-1;
}
/* .aboutmeheadline::before{
    color: #ccd6f6;
    content: "About Me";
} */
/* .aboutmeheadline::after{
    display: block;
    margin-left: 10px;
    width: 100px;
    position: absolute;
    content: " ";
    top: 1px;
    border-bottom: 1px solid white;
    
} */
/* .aboutme-child{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.aboutme-child1{
    color: #ccd6f6;
}
.aboutme-child2{
    margin-left: 10px;
    width: 200px;
    border-bottom: 0.2px solid white;
} */
.summeryaboutme{
    grid-column: 1/8;
    
}

.contentAboutme{
    margin-top: 20px;
    color: #8892b0;
    line-height: 1.2;
    font-size: 19px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.progileimage{
    grid-column: 8/-1;
    /* background-image: url("../images/mypicture.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;*/
    border-radius: 8px; 
}
.skills{
    grid-column: 1/-1;
    /* background-color: yellow; */
}
.skillscontent{
    color: #8892b0;
    line-height: 1.3;
    font-size: 21px;
}
.workingon{
    color: #8892b0;
    line-height: 1.3;
    font-size: 21px;
}
.about-responsive{
    display: none;
}
@media screen and (max-width: 600px){
    .profile-container{
        display: none;
    }
    .about-responsive{
        display: grid;
        grid-template-columns: repeat(12,1fr);
        gap: 5px;
        padding: 10px;
        margin-bottom: 40px;
    }
    .headline{
        grid-column: 1/-1;
        /* background-color: #26272b; */
    }
    /* .aboutmeheadline2::before{
        color: #ccd6f6;
        content: "About Me";
    } */
    .circle-image{
        grid-column: 1/-1;
        /* background-color: #9fa7bd; */
    }
    .aboutme-summery{
        grid-column: 1/-1;
    }
    .contentaboutme{
        margin-top: 20px;
        color: #8892b0;
        line-height: 1.4;
        font-size: 21px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .highlighs-skills{
        grid-column: 1/-1;
        margin-top: 10px;
        color: #8892b0;
    }
    .workingon{
         color: #8892b0;
    }
    .education{
        grid-column: 1/-1;
    }
    .highlightscontent{
        margin-top: 3px;
        color: #8892b0;
        line-height: 1.4;
        font-size: 21px;
        font-weight: bold;
    }
    .parent{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 27vh;
    }
    .circle{
        position: relative;
        width: 200px;
        height: 200px;
        border-radius: 40%;
        /* background: #ccc; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .imglogo{
        position: absolute;
        width: 202px;
        height: 200px;
        background: url(../images/mypicture.jpg);
        background-size: cover;
        border-radius: 50%;
    }
    .text{
        position: absolute;
        width: 100%;
        height: 100%;
        animation: rotateText 10s linear infinite;
    }
    @keyframes rotateText {
        0%{
            transform: rotate(360deg);
        }
        100%{
            transform: rotate(0deg);
        }
        
    }
    .text span{
        position: absolute;
        left: 50%;
        font-size: 1.2em;
        transform-origin: 0 100px;
    }
}