/* * {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    list-style: none;
    padding: 0;
    margin: 0;
  } */
  
  /* body {
    background: #333;
    text-transform: uppercase;
  } */


  .container{
    display: flex;
    align-items: stretch;
    margin-bottom: 20px;
  }
  
  .skill-title {
    text-align: center;
    display: inline-flex;
    position: relative;
    left: 38%;
    box-shadow: -5px -5px 8px rgba(94, 104, 121, 0.288),
    4px 4px 6px rgba(94, 104, 121, 0.288);
  }
  
  h3 {
    margin: 5px;
  }
  
  .frontend-skill {
    width: 450px;
    margin: 60px auto;
    color: #fff;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  .backend-skill{
    width: 450px;
    margin: 60px auto;
    color: #fff;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  
  .frontend-skill li {
    margin: 20px 0;
    padding: 10px;
    list-style: none;
  }

  .backend-skill li{
    margin: 20px 0;
    padding: 10px;
    list-style: none;
  }
  
  .bar {
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  
  .bar:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  
  .bar span {
    height: 20px;
    float: left;
    background: linear-gradient(
      135deg,
      rgba(236, 0, 140, 1) 0%,
      rgba(252, 103, 103, 1) 100%
    );
  }
  
  .html {
    width: 90%;
    animation: html 3s;
  }
  .css {
    width: 70%;
    animation: css 3s;
  }
  .reactjs {
    width: 75%;
    animation: reactjs 3s;
  }
  .javascript {
    width: 70%;
    animation: javascript 3s;
  }
  .nextjs{
    width: 40%;
    animation: nextjs 3s;
  }
  .bootstrap{
    width: 70%;
    animation: bootstrap 3s;
  }
  @keyframes bootstrap{
    0% {
      width: 0%;
    }
    100% {
      width: 70%;
    }
  }
  .materialui{
    width: 60%;
    animation: materialui 3s;
  }
  @keyframes materialui{
    0% {
      width: 0%;
    }
    100% {
      width: 60%;
    }
  }

  /* backend */
  .nodejs{
    width: 65%;
    animation: nodejs 3s;
  }
  @keyframes nodejs{
    0% {
      width: 0%;
    }
    100% {
      width: 65%;
    }
  }
  .python{
    width: 60%;
    animation: python 3s;
  }
  @keyframes python{
    0% {
      width: 0%;
    }
    100% {
      width: 60%;
    }
  }
  .mongodb{
    width: 70%;
    animation: mongodb 3s;
  }
  @keyframes mongodb{
    0% {
      width: 0%;
    }
    100% {
      width: 70%;
    }
  }
  .mysql{
    width: 72%;
    animation: mysql 3s;
  }
  @keyframes mysql{
    0% {
      width: 0%;
    }
    100% {
      width: 72%;
    }
  }


  
  @keyframes html {
    0% {
      width: 0%;
    }
    100% {
      width: 90%;
    }
  }
  @keyframes css {
    0% {
      width: 0%;
    }
    100% {
      width: 70%;
    }
  }
  @keyframes reactjs {
    0% {
      width: 0%;
    }
    100% {
      width: 75%;
    }
  }
  @keyframes javascript {
    0% {
      width: 0%;
    }
    100% {
      width: 60%;
    }
  }
  @keyframes nextjs {
    0% {
      width: 0%;
    }
    100% {
      width: 40%;
    }
  }

  @media screen and (max-width: 600px){
    
    .container{
      display: flex;
      flex-direction: column;
    }

    .frontend-skill {
      width: 300px;
      margin: 30px auto;
      color: #fff;
      padding: 15px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
  
    .backend-skill{
      width: 300px;
      margin: 60px auto;
      color: #fff;
      padding: 20px;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }

    .bar {
      background: #353b48;
      display: block;
      height: 18px;
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }

    .bar span {
      height: 20px;
      float: left;
      background: linear-gradient(
        135deg,
        rgba(236, 0, 140, 1) 0%,
        rgba(252, 103, 103, 1) 100%
      );
    }

    span{
      margin-left: 0px;
    }

    .bar .html::after{
      content: "80%";
      padding: 10px;
      color: #fff;
      margin-left: 50%;
    }

    .bar .css::after{
      content: "70%";
      padding: 10px;
      margin-left: 50%;
    }

    .bar .javascript::after{
      content: "70%";
      padding: 10px;
      margin-left: 50%;
    }

    .bar .reactjs::after{
      content: "75%";
      padding: 10px;
      margin-left: 50%;
    }

    .bar .nextjs::after{
      content: "40%";
      padding: 10px;
      margin-left: 50%;
    }

    .bar .bootstrap::after{
      content: "70%";
      padding: 10px;
      margin-left: 50%;
    }

    .bar .materialui::after{
      content: "60%";
      padding: 10px;
      margin-left: 50%;
    }

    .bar .nodejs::after{
      content: "65%";
      padding: 10px;
      margin-left: 50%;
    }

    .bar .python::after{
      content: "60%";
      padding: 10px;
      margin-left: 50%;
    }

    .bar .mongodb::after{
      content: "70%";
      padding: 10px;
      margin-left: 50%;
    }

    .bar .mysql::after{
      content: "72%";
      padding: 10px;
      margin-left: 50%;
    }

  }